body{
    font-family: sans-serif;
}
.login-section{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
.login-section .container{
    padding: 15% 0;
}
.card{
    border: none;
}
.card-header, .modal-header{
    background-color: #1976d2;
}
.main-header, footer{
    background-color: #3f51b5;
    border-color: #3f51b5;
}
.main-title{
    font-size: 1.2rem;
}
.form-control{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #000;
    background-color: #E8F0FE;
}
.col-1{
    margin-top: 7%;
}
i{
    color: #777777;
}
.covid_message{
    color: rgb(255, 255, 255); 
    border: 1px solid; 
    padding: 5px; 
    margin-left: 150px; 
    background: rgb(233, 30, 99); 
    text-decoration: none;
}
.dropdown_li{
    margin-bottom: 10px;
}
.dropdown-item:hover{
    background-color: #E4EFFA;
}
.sidebar_toggle{
    width: 100%;
    text-align: start;
}
.sidebar_toggle::after{
    border-left: none !important;
    border-right: none !important;
}
.border-bottom {
    border-bottom: 1px solid #000 !important;
}
.profile_icon{
    font-size: 20px;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 780px;
        margin: 1.75rem auto;
    }
}